@import url(https://fonts.googleapis.com/css?family=Montserrat:600);

body { 
  font-family: 'Montserrat', 'sans-serif';
  font-size: 32px; /* Change this to change the sizes of all texts*/
  height: 100%;
  width: 100%;
  color: white;
  background: #222;
  overflow: hidden;
}

/* Animation for page slideshow */
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  	display: block;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
  	width: 70%;
 	font-size: 2em;

	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 15%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 25% { left: -100%; opacity: 0; }
  33.33%, 58.29% { left: 15%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 58.29% { left: -100%; opacity: 0; }
  66.66%, 91.62% { left: 15%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

/* Formatting for weather preview */
        .container {
            height: 100%;
            padding: 0;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        .temperature-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .temperature {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .max-min-temperature {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 6rem;
            font-weight: 800;
            color: #fff;
            padding-left: 30px;
            height: 100%;
        }

        .description {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
	    padding-bottom: 40px;
        }

        #place {
            font-weight: normal;
            font-size: 1rem;
            color: #fff;
	    padding-top: 20px;
        }

        #temperature {
            /*font-weight: 300;*/
            font-size: 10rem;
            padding-left: 10px;
        }

        #min-temperature {
            padding-top: 20px;
        }

        #summary {
            font-weight: normal;
            font-size: 4rem;
        }

        #forecast-container {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
	    padding-top: 40px;
        }

        .day {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            font-weight: normal;
            font-size: xxx-large;
        }

        .forecast-temp {
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 800;
            justify-content: space-evenly;
            font-size: xx-large;
        }

        .citation {
            position: absolute;
            bottom: 5px;
            left: 5px;
            color: #ccc;
            font-size:18px;
        }

/* Formatting for RSS feed */
        .feed-item-title {
	    justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 800;
            color: #fff;
	}

	a {
  		color: white;
		text-decoration: none;
		font-size: 3rem;
	}
